<form method="POST" action="{% url 'crear_cliente' %}" class="card p-4 shadow-sm border-0">
    {% csrf_token %}
    <h4 class="text-center fw-bold mb-4 text-dark">🧍 Registrar Nuevo Cliente</h4>

    <div class="mb-3 text-start">
        <label for="id_nombre" class="form-label">Nombre:</label>
        {{ form.nombre }}
    </div>

    <div class="mb-3 text-start">
        <label for="id_nit" class="form-label">NIT:</label>
        {{ form.nit }}
    </div>

    <div class="mb-3 text-start">
        <label for="id_nrc" class="form-label">NRC:</label>
        {{ form.nrc }}
    </div>

    <div class="mb-3 text-start">
        <label for="id_direccion" class="form-label">Dirección:</label>
        {{ form.direccion }}
    </div>

    <div class="mb-3 text-start">
        <label for="id_correo" class="form-label">Correo:</label>
        {{ form.correo }}
    </div>

    <div class="mb-3 text-start">
        <label for="id_telefono" class="form-label">Teléfono:</label>
        {{ form.telefono }}
    </div>

    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success px-4">Guardar</button>
    </div>
</form>


